:root{
    --nav-color: rgb(191, 255, 0);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#contenu {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

header{
    background-color: var(--nav-color);
}

#toggleImage{
    width: 100px;
}

/* Style pour le label du checkbox avec image */
label {
    cursor: pointer;
}