* {
    margin: 0;
}

body {
    background-color: #EFEBD2;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
        "v v"
        "p p"
        "O N";

    gap: 10px;
    
    padding: 2vh 0vw;
    justify-items: center;
    width: 98vw;

    transform: translate(-50%, -50%);
    position : absolute;
    top: 50vh;
    left: 50vw;
}

.video {
    width: 60vw ;
    grid-area: v;
}

.Btn {
    display: block;

    font-family: 'DM Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #EFEBD2;

    border-radius: 24px;
    width: 100%;
    max-width: 300px;
    padding: 20px;

    border: 2px solid black;
    box-shadow: -10px 10px 0px black;

    background-color: #3E8937;
}

#O {
    grid-area: O;
}

#N {
    grid-area: N;
}

p {
    grid-area: p;
    color: #3A2D14;
    font-size: 1.25rem;
    font-family:  'DM Sans' ;
}